<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.6.2" />
    <httpRuntime targetFramework="4.6.2" />
  <httpHandlers> 
			
			<add verb="*" path="DocumentHandler.axd" type="Gnostice.Controls.ASP.DocumentHandler, Gnostice.Controls.ASP" /> 
			
		</httpHandlers></system.web>
	<appSettings>
		
		<add key="DocumentCache" value="memory" />
		
	</appSettings>
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false" />
		<handlers>
			
			<add name="XDocumentImage" verb="*" path="DocumentHandler.axd" type="Gnostice.Controls.ASP.DocumentHandler, Gnostice.Controls.ASP" />
			
		</handlers>
	</system.webServer></configuration>