<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>


  <appSettings>
    <!--Gnostice ASP.NET Document Viewer Settings-->
    <add key="DiskPath" value="App_Data"/>
    <add key="DocumentCache" value="memory"/>
    <!--Gnostice 30-days trial license key-->
    <add key="LicenseKey" value="B7CA-6EC9-0544-649C-2C48-E5CB-1EA2-B48A"/>
  </appSettings>
  
    <system.web>
      <compilation debug="true" strict="false" explicit="true" targetFramework="4.0"/>


      <httpRuntime maxRequestLength="2097152"/>
      <httpHandlers>
        <add verb="*" path="DocumentHandler.axd" type="Gnostice.Controls.ASP.DocumentHandler, Gnostice.Controls.ASP"/>
      </httpHandlers>

    </system.web>

  <system.webServer>


    <validation validateIntegratedModeConfiguration="false"/>

    <handlers>
      <add name="XDocumentImage" verb="*" path="DocumentHandler.axd" type="Gnostice.Controls.ASP.DocumentHandler, Gnostice.Controls.ASP"/>
    </handlers>
    
  
  
      <defaultDocument enabled="true">
        <files>
          <clear/>
          <add value="DocumentViewer.aspx"/>
        </files>
  </defaultDocument>

  </system.webServer>

	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="DotNetZip" publicKeyToken="6583C7C814667745" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-1.13.3.0" newVersion="1.13.3.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
