
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Gnostice ASP.NET document viewer demo application</title>


    @*Gnostice Document Viewer JavaScript files*@
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/jquery-ui.js"></script>
    <script src="~/Scripts/Gnostice/documentviewer.min.js"></script>

    @*Demo App CSS and JS*@ 
    <script src="app.js"></script>
    <link href="~/Content/Stylesheet/Demo-Stylesheet.css" rel="stylesheet" />

    @*Gnostice Document Viewer css files*@
    <link href="~/Content/jquery-ui.css" rel="stylesheet" />
    <link href="~/Content/Gnostice/all.min.css" rel="stylesheet" />
    <link href="~/Content/Gnostice/solid.min.css" rel="stylesheet" />
    <link href="~/Content/Gnostice/documentviewer.css" rel="stylesheet" />

    <script type="text/javascript">

        $(document).ready(function () {
		    var documentViewer = new gnostice.DocumentViewer("doc-viewer-id");
            var docURI='@ViewBag.docURI';
            if(docURI!=null)
            {
                documentViewer.loadDocument(docURI);
            }
        });

    </script>

</head>
<body>
    <div class="centerBodyContent">
        <div>
            <div class="gnostice-header">
                <img src="Content/Images/gnostice.png" />
                <span style="float:right;font-size:35px;color:#428bca;">
                    ASP.NET Document Viewer Demo
                </span>
            </div>
            <div>
                <br />
                <div class="body">
                    <div class="article-container">
                        <div class="gnostice-doc-viewer-container" id="doc-viewer-id">
                        </div>
                    </div>
                </div>
            </div>
            <hr />
            <div>
                &copy; 2002 - 2023. Gnostice Information Technologies Private Limited. All Rights
                Reserved.
            </div>
        </div>
    </div>
</body>
</html>