<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <!--Gnostice Document Viewer Settings-->
    <add key="DocumentCache" value="memory" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" />
    <httpHandlers>
      <add verb="*" path="DocumentHandler.axd" type="Gnostice.Controls.ASP.DocumentHandler, Gnostice.Controls.ASP" />
    </httpHandlers>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <add name="XDocumentImage" verb="*" path="DocumentHandler.axd" type="Gnostice.Controls.ASP.DocumentHandler, Gnostice.Controls.ASP" />
    </handlers>
    <defaultDocument>
      <files>
        <add value="WebViewer.aspx" />
      </files>
    </defaultDocument>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="2199022592" />
      </requestFiltering>
    </security>
  </system.webServer>
</configuration>